@import '../bootstrap'
@import '../theme'

/* Theme */
v-table($material)
  &, .fixed-column
    color: $material.text.primary
    background-color: $material.cards
    border-right: 1px solid rgba($material.fg-color, $material.divider-percent)

  thead
    tr
      &:first-child
        &, & .fixed-column
          border-bottom: 1px solid rgba($material.fg-color, $material.divider-percent)

    th
      color: rgba($material.text-color, $material.secondary-text-percent)
      background-color: $material.cards

  tbody
    tr
      &:not(:last-child)
        &, & .fixed-column
          border-bottom: 1px solid rgba($material.fg-color, $material.divider-percent)

      &[active]
        background: $material.table.active

      &:hover:not(.v-datatable__expand-row)
        background: $material.table.hover

  tfoot
    tr
      border-top: 1px solid rgba($material.fg-color, $material.divider-percent)

theme(v-table, "v-table")

.v-table
  &__overflow
    width: 100%
    overflow-x: hidden
    overflow-y: hidden

  &__scroll
    overflow: scroll
    max-height: 100vh
    position: relative;

    &--additional
      width: 100%
      height: 20px
      overflow-x: scroll
      overflow-y: hidden

      &__element
        height: 20px

table.v-table
  border-radius: 2px
  border-spacing: 0
  width: 100%
  max-width: 100%
  border-collapse: collapse;

  &.v-table--fixed-header
    thead
      tr
        display: flex
        flex-direction: columns
        align-self: flex-start
        position: sticky;
        align-items: center
        top: 0
        position: -webkit-sticky; /* for Safari */

        th
          display: inline-flex
          align-items: center

          &.fixed-column
            position: sticky
            left: 0
            z-index: 999

    tbody
      tr
        align-self: flex-start

        td
          display: inline-flex
          align-items: center

          &.fixed-column
            position: sticky
            left: 0

  thead, tbody
    td, th
      &:not(:nth-child(1)), &:first-child
        padding: 0 24px

  thead
    th
      height: 56px
      font-weight: 500
      font-size: 12px
      transition: .3s $transition.swing
      white-space: nowrap
      user-select: none

      &.sortable
        pointer-events: auto

      > div
        width: 100%

  tbody
    tr, .fixed-column
      transition: background $primary-transition
      will-change: background

    td, th
      height: 48px

    td
      font-weight: 400
      font-size: 13px

  .input-group--selection-controls
    padding: 0

    .input-group__details
      display: none

    &.checkbox
      .v-icon
        left: 50%
        transform: translateX(-50%)

      .input-group--selection-controls__ripple
        left: 50%
        transform: translate(-50%, -50%)

  tfoot
    tr
      height: 48px
      td
        padding: 0 24px
